$color: (
  "primary": #1677ff,
);
$layout-breakpoint: (
  "mobile": 0px,
  "tablet:": 512px,
  "desktop": 1200px,
  "hd": 1300px,
);
$layout-max-width: (
    "mobile": 100%,
    "tablet:": 100%,
    "desktop": 75rem,
    "hd": 81.25rem,
);
